{% extends 'blogs/base.html' %}
{%block title%}Posts{%endblock title%}

{% block content %}

<a class="nav-link active"  href="{% url 'filter-blog' %}" onclick="">Filter Blogs</a>
<div class="card gedf-card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active"  href="{% url 'post-create' %}">Create Blog</a>
            </li>
        </ul>
    </div>
</div>
<br>
{% for post in qs %}
    <div class="card gedf-card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="mr-2">

                        <img class="rounded-circle" width="45" src="{{ post.author.account.image.url }}" alt="">
                    </div>
                    <div class="ml-2">
                        <div class="h5 m-0">{{ post.author }}</div>
                        <div class="h7 text-muted">{{post.author.account.description}}</div>
                    </div>
                </div>
                <div>
                    <div class="dropdown">

                        <form action="{% url 'save-post'%}" method="post">
                            {% csrf_token%}
                            <input type="hidden" name="post_id" value="{{post.id}}">
                            {% if user.account in post.saved.all %}
                              <button type="submit" class="btn btn-secondary btn-xs"><i
                                      class="fa fa-thumbs-o-up"></i> Unsave</button>
                            {% else %}
                              <button type="submit" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i>
                                  Save</button>
                            {% endif %}
                        </form>

                    </div>
                </div>
            </div>

        </div>
        <div class="card-body">
            <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>{{ post.date_posted  }}</div>
            <a class="card-link" href="{% url 'blog-post' post.id %}">
                <h2 class="card-title">{{ post.title }}</h2></a>
            {%if post.image.url != None%}
                <img class="img-fluid" height="" width="" src="{{ post.image.url }}" alt="">
            {%endif%}


            <p style="font-size:20px">
                {{ post.content|truncatewords:60  }}
            </p>
            <p>
                {{ post.num_of_likes }} Likes
            </p>
            <a type="btn btn-secondary" href="{% url 'blog-post' post.id %}">
                <h3 class="">Read More</h3>
            </a>
        </div>
    </div>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


{% endblock content %}

{% block script%}
{%endblock script%}

