{% extends 'blogs/base.html' %}
{%block title%}Posts{%endblock title%}

{% block content %}
<div class="card gedf-card">
    <form action="{% url 'category-list'%}" name="filter-blog" id="filter-blog" method="GET">
        {% csrf_token%}
        <select id="category-id" name="category-id">
            {% for category in categories %}
            <option value="{{ category }}">
                {{ category }}
            </option>
            {% endfor %}
        </select>
        <input type="submit" value="Categories" id="Categories" name='Categories'>
    </form>
</div>
<div class="card gedf-card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active"  href="{% url 'post-create' %}">Create Blog</a>
            </li>
        </ul>
    </div>
</div>
<br>
{% for post in posts %}
    <div class="card gedf-card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="mr-2">
                        <img class="rounded-circle" width="45" src="{{ post.author.account.image.url }}" alt="">
                    </div>
                    <div class="ml-2">
                        <div class="h5 m-0">{{ post.author }}</div>
                        <div class="h7 text-muted">{{post.author.account.description}}</div>
                    </div>
                </div>
                <div>
                    <div class="dropdown">
                        {% csrf_token %}
                        {% if user.account in post.saved.all %}
                          <button type="button" value="{{post.id}}" class="btn btn-secondary btn-xs save-button">
                              Unsave</button>
                        {% else %}
                          <button type="button" value="{{post.id}}" class="btn btn-default btn-xs save-button">Save
                          </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>{{ post.date_posted  }}</div>
            <a class="card-link" href="{% url 'blog-post' post.id %}">
                <h2 class="card-title">{{ post.title }}</h2></a>
            {%if post.image.url != None%}
                <img class="img-fluid" height="" width="" src="{{ post.image.url }}" alt="">
            {%endif%}


            <p style="font-size:20px">
                {{ post.content|truncatewords:60  }}
            </p>
            <p>
                {{ post.num_of_likes }} Likes
            </p>
            <a type="btn btn-secondary" href="{% url 'blog-post' post.id %}">
                <h3 class="">Read More</h3>
            </a>
        </div>
    </div>
{% endfor %}
{% if posts%}
{% if is_paginated %}
<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}
        {%if posts.number%}
            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>
        {% else %}
            <span class="current">
                Page 1 of 1.
            </span>
        {% endif %}


        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
            <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}
{% endif %}


{% endblock content %}
{% block scripts %}
<script>
$(document).ready(function () {
  $.ajaxSetup({
       headers: {
         "X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()
       }
   });
   $("button").click(function() {
    var post = $(this).val()
    event.preventDefault();
    $.ajax({
      type: "POST",
      url: "{% url 'save-post'%}",
      data: {
        'post_id': post, // from form
        },
       success:  function () {        // Getting msg from the view
        location.reload();
       },
    });
    return false;
  });
 });
</script>
{% endblock scripts %}