{% extends 'Account/home_base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

    {% if user.is_authenticated %}
    <a href="javascript:history.go(-1)" class="btn btn-outline-secondary">Back</a>
        <div class="container-xl px-4 mt-4">
            <hr class="mt-0 mb-4">
            <div class="row">
                <div class="col-xl-4">
                    <!-- Profile picture card-->
                    <div class="card mb-4 mb-xl-0">
                        <div class="card-header text-center">Profile Picture</div>
                        <div class="card-body text-center">
                            <!-- Profile picture image-->
                            <img style="width: 245px; height: 247px;" alt="Image description"
                                 src="{{ user.account.image.url }}"/>
                            <h3>{{ object.name }}</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <!-- Account details card-->
                    <div class="card mb-4">
                        <div class="card-header">Account Details</div>
                        <div class="card-body">
                            <table>
                                <tr>
                                    <td>Username</td>
                                    <td>{{object.user.username}}</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>{{object.user.email}}</td>
                                </tr>
                                <tr>
                                    <td>Name</td>
                                    <td>{{object.user.account.name}}</td>
                                </tr>
                                <tr>
                                    <td>Birthday</td>
                                    <td>{{object.user.account.birthday}}</td>
                                </tr>
                                <tr>
                                    <td>Gender</td>
                                    <td>{{object.user.account.gender}}</td>
                                </tr>
                                <tr>
                                    <td>Description</td>
                                    <td>{{object.user.account.description}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    {%if object in user.account.check_received_request%}

                        <form action="{% url 'accept_request' %}" method="post">
                            {% csrf_token%}
                            <input type="hidden" name="profile_pk" value="{{ object.id}}">
                            <button type="submit" class="btn btn-primary pull-right">Accept Friend Request</button>
                        </form>

                        <form action="{% url 'remove_request' %}" method="post">
                            {% csrf_token%}
                            <input type="hidden" name="profile_pk" value="{{ object.id }}">
                            <button type="submit" class="btn btn-primary pull-right">Remove from Friend Request</button>
                        </form>


                    {%elif object in user.account.check_send_request%}
                        <button class="btn btn-primary pull-right" disabled>Waiting for response</button>

                    {% elif object.get_user not in user.account.friendslist.all %}
                        <form id="add-friend">
                            {% csrf_token%}
                            <input type="hidden" name="profile_pk" class="user_id" id="user_id" value="{{ object.id }}">
                            <button id="add-frnd" type="button" class="btn btn-primary pull-right"
                                    value="{{ object.id }}">Add friend</button>
                        </form>

                    {% else%}

                    <button id="remove-frnd" type="button" class="btn btn-primary pull-right" value="{{ object.id}}">Remove from
                        friends</button>
                    <form>
                        {% csrf_token%}
                    </form>

                    {% endif %}
                    {% for post in object.get_all_authors_posts %}
                    {% if post.author in user.account.friendslist.all or post.author == user %}
                        <div class="card gedf-card">
                            <div class="card-header">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="mr-2">
                                            <img class="rounded-circle" width="45" src="{{ post.author.account.image.url }}" alt="">
                                        </div>
                                        <div class="ml-2">
                                            <div class="h5 m-0">{{ post.author }}</div>
                                            <div class="h7 text-muted">{{post.author.account.description}}</div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="dropdown">
                                            <form action="{% url 'save-post'%}" method="post">
                                                {% csrf_token%}
                                                <input type="hidden" name="post_id" value="{{post.id}}">
                                                {% if user.account in post.saved.all %}
                                                  <button type="submit" class="btn btn-secondary btn-xs"><i
                                                          class="fa fa-thumbs-o-up"></i> Unsave</button>
                                                {% else %}
                                                  <button type="submit" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i>
                                                      Save</button>
                                                {% endif %}
                                            </form>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="card-body">
                                <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>{{ post.date_posted  }}</div>
                                <a class="card-link" href="{% url 'blog-post' post.id %}">
                                    <h2 class="card-title">{{ post.title }}</h2>
                                </a>
                                {% if post.image.url != None%}
                                <img height="500px" width="600px" src="{{ post.image.url }}" alt="">
                                {% endif%}

                                <p style="font-size:20px">
                                    {{ post.content}}
                                </p>
                                <p style="font-size:20px">
                                    {{ post.content|truncatewords:60  }}
                                </p>
                                <p>
                                    {{ post.num_of_likes }} Likes
                                </p>
                                <a type="btn btn-secondary" href="{% url 'blog-post' post.id %}">
                                    <h3 class="">Read More</h3>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
    {% else %}
        <small class="text-muted"><a href="{% url 'login' %}" class="ml-2">Login</a></small>
    {% endif %}
{% endblock content %}

{% block scripts%}
<script>
$(document).ready(function(){
window.onload = function() {
	if(!window.location.hash) {
		window.location = window.location;
		window.location.reload();
	}
};
console.log('Hey');
$.ajaxSetup({
       headers: {
         "X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()
       }
   });
$("#add-frnd").click(function() {
    var user = $(this).val()
    event.preventDefault();
    $.ajax({
      type: "POST",
      url: "{% url 'send_invite' %}",
      data: {
        'profile_pk': user,
        },
      success:  function () {
        console.log('Success');
        location.reload();
       },
    });
    return false;
  });
  $("#remove-frnd").click(function() {
    var user = $(this).val()
    event.preventDefault();
    $.ajax({
      type: "POST",
      url: "{%url 'remove_friend' %}",
      data: {
        'profile_pk': user,
        },
      success:  function () {
        console.log('Success');
        location.reload();
       },
    });
    return false;
  });
  $("#accept-frnd").click(function() {
    var user = $(this).val()
    event.preventDefault();
    $.ajax({
      type: "POST",
      url: "{% url 'send_invite' %}",
      data: {
        'profile_pk': user,
        },
      success:  function () {
        console.log('Success');
        location.reload();
       },
    });
    return false;
  });
  $("#reject-frnd").click(function() {
    var user = $(this).val()
    event.preventDefault();
    $.ajax({
      type: "POST",
      url: "{% url 'send_invite' %}",
      data: {
        'profile_pk': user,
        },
      success:  function () {
        console.log('Success');
        location.reload();
       },
    });
    return false;
  });
});
</script>>
{% endblock scripts%}

