{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="{% static 'users/main.css'%}">
    <link rel="stylesheet" href="{% static 'blogs/main.css'%}">

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!--Custom css ADD HERE-->

    <!-- semantic UI -->
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>


    <title>BlogSpace - {% block title %}{% endblock title %}</title>
  </head>
  <body>
    <div class="ui container">
      {% include 'Account/navbar.html'%}
      {% block content %}
      {% endblock content %}

    </div>
    <script>
        $(".nav-link").on("click", function() {
              $(".nav-link").removeClass("active ms-0");
              $(this).addClass("active ms-0");
        });
    </script>
    {% block scripts %}
    {% endblock scripts %}

   <!--Custom js ADD HERE-->

  </body>
</html>