{% extends 'Account/base.html' %}
{% block page-title %}Login-{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
     <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign In</p>

    <form class="mx-1 mx-md-4" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Log In</button>
        </div>
    </form>
    <div>
        <small class="text-muted"><a href="{% url 'password_reset' %}" class="ml-2">Forget Password?</a></small>
    </div>
    <div class="border-top pt-3 h3">
        <small class="text-muted">Need an Account?<a href="{% url 'register' %}" class="ml-2">Sign Up Now</a></small>
    </div>

{% endblock content %}
