<nav class="nav nav-borders">
        <a class="nav-link " href="{% url 'home' %}" target="__blank">Profile</a>
        <a class="nav-link" href="{% url 'blogs' %}" target="__blank" >Feed</a>
        <a class="nav-link" href="{% url 'myinvites' %}" target="__blank">Friend Requests</a>
        <a class="nav-link" href="{% url 'inviteprofiles' %}" target="__blank">Add Friends</a>
        <a class="nav-link" href="{% url 'notifications' %}"  target="__blank">Notifications</a>
<!--        <a class="nav-link" href="{% url 'allprofiles' %}"  target="__blank">Search</a>-->

        <a class="nav-link" href="{% url 'logout' %}" target="__blank">Logout</a>
</nav>