{% extends 'Account/base.html' %}
{% block page-title %}Register-{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

    <form class="mx-1 mx-md-4" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Register</button>
        </div>
        <div class="border-top pt-3 h4">
            <small class="text-muted">Already have an account?<a href="{% url 'login' %}"
                                                         class="ml-2">Login</a></small>
        </div>
    </form>
{% endblock content %}
