{% extends 'Account/home_base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
    <form class="search-bar justify-content-start">
			<input type="text" class="form-control" name="q" id="id_q_large" placeholder="Search...">
    </form>
    {% if user.is_authenticated %}
        <div class="container">
            {% for object in qs %}
                <div class="row" style="padding-bottom:2px">
                  <div class="col-md-2 col-sm-2">
                    <img src="{{ object.image.url }}" alt="user" height="50px"
                         width="50px" style="border-radius:50%">
                  </div>
                  <div class="col-md-7 col-sm-7">
                    <h5><a href="{% url 'friend_detail' object.id %}" class="profile-link">{{ object }}</a></h5>
                  </div>
                  <div class="col-md-3 col-sm-3">
<!--                    <button class="btn btn-primary pull-right">Add Friend</button>-->
                       <form action="{% url 'sendinvite' %}" method="post">
                        {% csrf_token%}
                          <input type="hidden" name="profile_pk" value="{{ object.id }}">

                          <button type="submit" class="btn btn-primary pull-right">Add Friend</button>
                      </form>
                  </div>
                </div>
            {% endfor%}
        </div>
    {% else %}
        <small class="text-muted"><a href="{% url 'login' %}" class="ml-2">Login</a></small>
    {% endif %}

{% endblock content %}